*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1,h2,h3,h4 {
    font-family: 'Raleway', sans-serif;
    color: #990000;
}
p {
    color: #000;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}
html, body {
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}
header {
    width: 100%;
    height: 95px;
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
tab {
    padding-left: 2em;
}
#logo {
    position: relative;
    display: inline-block;
    float: left;
    height: 90%;
    width: 10%;
    margin-left: 2%;
    top: 5px;
    cursor: pointer;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
#menu-icon {
    position: relative;
	display: none;
    float: right;
	width: 40px;
	height: 40px;
    margin-right: 13%;
    top: 5px;
	background-image: url('../img/mobile-btn-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#navbar {
    display: block;
    position: relative;
    top: 45%;
    transform: translateY(-45%);
    float: right;
    margin-right: 10%;
}
#navbar a {
	display: inline-block;
	margin: 10px 0 9px 9px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}
#navbar a:hover {
	outline: none;
}
#navbar a::before,
#navbar a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
#navbar a::before {
	margin-right: 10px;
    content: '{';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
#navbar a::after {
	margin-left: 10px;
    content: '}';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}
#navbar a:hover::before,
#navbar a:hover::after{
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
#content {
    flex: 1;
}
.page {
    width: 100%;
}
.about {
    padding: 0 30px;
}
.about h1 {
    margin-bottom: 5px;
}
.about .hr {
    background-color: #990000;
    width: 50%;
    min-height: 6px;
}
.about #info {
    float: left;
    width: 55%;
    padding-right: 5%;
}
.about #info, .about #showcase {
    margin-bottom: 30px;
}
.about #showcase {
    width: 45%;
    float: right;
    padding-left: 5%;
    text-align: center;
}
.about #showcase img{
    width: 80%;
}
.about #skills {
    background-color: #990000;
    text-align: center;
    margin: 0 auto;
    padding: 8px 5px 10px 5px;
    width: 80%;
    margin-top: 30px;
}
.about #skills .title {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}
.about #skills .images {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.about #skills .images .item {
    display: inline-block;
    max-width: 30%;
    width: 30%;
    margin: 0 1.5% 10px 1.5%;
}
.about #skills .images .item img {
    z-index: 5;
    width: 70%;
}
.about #skills .desc {
    color: #fff;
    padding: 0 10%;
}
.about .h2-title {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    background-color: #990000;
    width: 150%;
    padding: 10px 0;
    margin-left: -50%;
    padding-left: 50%;
}
.about .edu {
    width: 100%;
    margin-bottom: 30px;
}
.about .edu .loc, .about .edu .year {
    display: inline-block;
    color: #990000;
    text-transform: uppercase;
}
.about .edu .year {
    float: right;
}
.about .job {
    margin-bottom: 50px;
}
.about .job p, .about .edu p{
    margin: 0;
}
.about .job .title {
    width: 100%;
}
.about .right {
    text-align: right;
    float: right;
}
.about .job .position, .about .job .date {
    text-transform: uppercase;
    color: #990000;
}
.about .job .position {
    display: inline-block;
}
.about .job .date {
    display: inline-block;
}
.about .job .desc {
    display: block;
}
.portfolio {
    padding-top: 40px;
}
.portfolio #summary {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.portfolio #summary p {
    font-size: 14pt;
    line-height: 1.7;
}
#projects, .project {
    width: 100%;
}
.project {
    padding: 30px 70px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.project .title {
    text-transform: uppercase;
    font-size: 20pt;
}
.project .summary {
    color: #000;
    line-height: 1.5;
    font-size: 14pt;
    line-height: 1.45;
}
.project .preview {
    height: auto;
    margin: 15px 10px;
    width: 30%;
    border: #000 solid 5px;
}
.project .preview img {
    width: 100%;
}
.project .about {
    width: 60%;
    text-align: left;
}
.project:nth-of-type(odd) {
    background-color: #BAC2C2;
}
.project:nth-of-type(even) {
    background-color: #E8EAE9;
    flex-direction: row-reverse;
}
.project a:active, .project a:visited, .project a {
    text-decoration: none;
    color: #000;
}
.project .about a:hover {
    color: #990000;
}
.contact {
    padding-top: 40px;
}
#contact-area {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 30px 5% 0 5%;
}
#social{
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 35%;
}
#social h2 {
    text-transform: uppercase;
}
#social a {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: row;
}
#social img {
    padding-right: 15px;
    height: 80px;
    width: auto;
    cursor: pointer;
}
#social a img, #social a h3 {
    transition: all .2s ease-in-out;
}
#social a:hover img, #social a:hover h3 {
    transform: scale(1.15);
}
#contact-area .hr {
    background-color: #990000;
    width: 50%;
    min-height: 6px;
    display: none;
}
#contact-area #form {
    width: 55%;
    margin-left: 10%
}
#contact-area #form input {
    width: 50%;
    margin: 2% 5% 3% 0;
    padding: 10px;
    border: solid 3px #000;
}
#contact-area #form input:nth-of-type(2) {
    margin-right: 0px;
}
#contact-area #form textarea {
    width: 100%;
    height: 150px;
    color: #000;
    background-color: #fff;
    border: solid 3px #000;
}
#contact-area #form .button {
    float: right;
    padding: 1em;
    background-color: #990000;
    color: white;
    margin: 2.5% 3% 0 0;
}
#contact-area #form .button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
}
#contact-area #form .button:hover {
    cursor: pointer;
}
#contact-area #form .button:before {
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    top: calc(50% - 10px);
    right: 0;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #990000;
}
#contact-area #form .button:hover:before, #contact-area #form .button:focus:before, #contact-area #form .button:active:before {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}
.beside {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.surround-hr {
    text-align: center;
    background-color: #990000;
    width: 100%;
}
.surround-hr h1 {
    background-color: #fff;
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 10px;
    height: 40px;
}
#bottom {
    height: 30px;
    background-color: #990000;
}
#footer {
    padding: 5px 3% 5px 3%;
    height: 30px;
    width: 100%;
    color: #fff;
    margin: 0;
    font-size: 20px;
    line-height: 1;
}
#contact-area #form #error {
    color: #990000;
}
#contact-area #form .error {
    background-color: rgba(172, 0, 0, 0.4);
    color: #fff;
}
#contact-area #form .error::placeholder {
    color: #fff;
}
@media only screen and (min-width: 876px) {
    #navbar {
        display: block;
    }
}
@media only screen and (max-width : 875px) {
	header {
		position: absolute;
        height: 50px;
        top: 0;
	}
    #logo {
        width: 60%;
        top: 0;
        background-image: url('../img/logo-mobile.png');
    }
	#menu-icon {
		display: inline-block;
	}
	#navbar { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #990000;
		border-top: 5px solid #fff;
		top: 50px;
		width: 100%;
		border-radius: 4px 0 4px 4px;
        margin: 0;
        transform: none;
	}
	#navbar a {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}
	#navbar:hover a {
		display: block;
	}
    #content {
        padding-top: 50px;
    }
    .about #showcase, .about #info {
        float: none;
        width: 100%;
    }
    .about #showcase {
        text-align: center;
        padding: 20px 0 0 0;
        margin-bottom: 30px;
    }
    .project, .project:nth-of-type(even) {
        flex-direction: column-reverse;
    }
    .project {
        padding: 30px 20px;    
    }
    .project .preview {
        width: 40%;
    }
    .project .about {
        text-align: center;
        width: 75%;
    }
    .beside, #contact-area{
        flex-direction: column;
    }
    #contact-area .hr {
        display: block;
    }
    #contact-area #form {
        margin: 0;
        width: 75%;
    }
    #contact-area #form p {
        text-align: center;
    }
    #contact-area #form input{
        margin-right: 0;
        width: 80%;
    }
    #social {
        width: auto;
    }
    .about #showcase img, .about #skills {
        width: 50%;
    }
    .about .edu .year, .about .right {
        float: none;
        text-align: left;
        display: block;
    }
}
@media only screen and (max-width : 500px) {
    .about #showcase #skills, .about #showcase img {
        width: 90%;
    }
    .project .about {
        width: 95%;
    }
}