*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1,h2,h3,h4,p {
    color: #990000;
}
html, body {
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    height: 95px;
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#logo {
    position: relative;
    display: inline-block;
    float: left;
    height: 90%;
    width: 10%;
    margin-left: 2%;
    top: 5px;
    cursor: pointer;
}
#logo img {
    width: 100%;
    height: 100%;
}
#menu-icon {
    position: relative;
	display: none;
    float: right;
	width: 40px;
	height: 40px;
    margin-right: 2%;
    top: 5px;
	background-image: url(../img/menu-button.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#navbar {
    display: block;
    position: relative;
    top: 45%;
    transform: translateY(-45%);
    float: right;
    margin-right: 10%;
}
#navbar a {
	display: inline-block;
	margin: 10px 0 9px 9px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}
#navbar a:hover,
#navbar a:focus {
	outline: none;
}
#navbar a::before,
#navbar a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

#navbar a::before {
	margin-right: 10px;
    content: '{';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

#navbar a::after {
	margin-left: 10px;
    content: '}';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

#navbar a:hover::before,
#navbar a:hover::after,
#navbar a:focus::before,
#navbar a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
#content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}
.page {
    width: 100%;
}
.about {
    padding: 0 30px;
}
.about h1 {
    margin-bottom: 5px;
}
.about .hr {
    background-color: #990000;
    width: 50%;
    min-height: 6px;
}
.about #info {
    float: left;
    width: 55%;
    padding-right: 5%;
}
.about #info p {
    color: #000;
}
.about #showcase {
    width: 35%;
    float: right;
    padding-left: 5%;
}
.about #showcase img{
    height: 250px;
}
.portfolio {
    padding: 40px 0 0 0;
}
.portfolio #summary {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.portfolio #summary h3 {
    color: #000;
}
#projects, .project {
    width: 100%;
}
.project {
    padding: 30px 70px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.project .title {
    text-transform: uppercase;
}
.project .summary {
    color: #000;
    line-height: 1.5;
}
.project .preview {
    height: auto;
    margin: 15px 10px;
    width: 30%;
    border: #000 solid 5px;
}
.project .about {
    width: 60%;
    text-align: left;
}
.project:nth-of-type(odd) {
    background-color: #BAC2C2;
}
.project:nth-of-type(even) {
    background-color: #E8EAE9;
    flex-direction: row-reverse;
}
.surround-hr {
    text-align: center;
    background-color: #990000;
    width: 100%;
}
.surround-hr h1 {
    background-color: #fff;
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 10px;
    height: 40px;
}
#bottom, #push {
    height: 30px;
}
#footer {
    height: 30px;
    background-color: #990000;
    width: 100%;
    color: #fff;
}
@media only screen and (max-width : 875px) {
	header {
		position: absolute;
        height: 50px;
	}
    #logo {
        display: none;
    }
	#menu-icon {
		display: inline-block;
	}
	#navbar { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #990000;
		border-top: 5px solid #fff;
		top: 50px;
		width: 100%;
		border-radius: 4px 0 4px 4px;
        margin: 0;
        transform: none;
	}
	#navbar a {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}
	#navbar:hover a {
		display: block;
	}
    #content {
        padding-top: 50px;
    }
    .about #showcase, .about #info {
        float: none;
        width: 100%;
    }
    .about #showcase {
        text-align: center;
        padding: 20px 0 0 0;
    }
    .project, .project:nth-of-type(even) {
        flex-direction: column;
    }
    .project .preview {
        width: 40%;
    }
    .project .about {
        text-align: center;
        width: 75%;
    }
    
}